<header>
<body>

<!-- Writing the main heading of my Weblog -->
<div>
  <h1>{{ title }}</h1>
</div>
  
<div>
    <span><a href="/">Home</a> |</span>
    <span><a href="https://sigmarootpi.com/">Blog</a> |</span>
    <span><a href="/search/">Search</a></span>
</div> 
</header>