<header class="site-header">

<!-- Writing the main heading of my Weblog -->
<h1>{{ title }}</h1>

<nav class="site-nav">
    <a href="/">Home</a>
    <a href="https://sigmarootpi.com/">Blog</a>
    <a href="/search/">Search</a>
</nav>
</header>
