---
    layout: 'base.njk'
---


<article data-pagefind-body>
<span>Modified at: {{ page.inputPath | gitLastModified | postDate }}</span><br>

<div>
        <main>
            {{ content | safe }}
        </main>
</div>

<blockquote>    

    <span>Posted at: {{ cdate | postDate }}</span> <br/>
    <a href='mailto:sigmarootpi@proton.me?subject=Blogentry: {{ title }}'>Reply via email</a>
    
    <br />
    
</blockquote>
</article>
